@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-inter: 'Inter', system-ui, -apple-system, sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-navy antialiased;
  }

  [dir='rtl'] {
    direction: rtl;
  }

  [dir='ltr'] {
    direction: ltr;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

